.header {
  text-transform: uppercase;
  
  @media (max-width: 550px) {
    position: fixed;
    top: 8px;
    left: 8px;
    width: calc(100% - 16px);
    padding: 8px;
    background: $green;
  }
}

.horizontal-list {
  display: flex;
  justify-content: space-between;
  
  li {
    display: inline-block;
  }
}

.hamburger {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 35px;
  
  &:focus {
    outline: none;
  }
  
  &__inner {
    
    &,
    &:after,
    &:before {
      display: block;
      height: 2px;
      width: 100%;
      background: $gray;
      position: absolute;
      content: "";
    }
    
    &:before {
      bottom: 10px;
    }
    
    &:after {
      top: 10px;
    }
    
  }
}

.mainNav {
  font-family: "Offside";
  max-width: 800px;
  
  @media screen and (max-width: 550px) {
    transition: height .3s ease-in-out;
    height: 0px;
    overflow: hidden;
    
    &.-is-visible {
      height: 160px;
    }
  }
}

/* Title.jsx */
.title-logo {
  display: block;
  position: relative;
  font-style: italic;
  font-size: 20px;
  font-weight: 300;
  
  &--name {
    width: auto;
    
    &__front {
      z-index: 10;
    }

    &__back {
      position: absolute;
      top: 7px;
      left: 15px;
      z-index:1;
      opacity: .2;
    }
  }
}

@media screen and (max-width: 550px) {
  .horizontal-list {
    display: block;
    
    li {
      display: block;
      text-align: center;
      margin: 10px 0;
    }
  }
}