@import "reset";

header {
  text-transform: uppercase;
}

.horizontal-list {
  display: flex;
  justify-content: space-between;
  
  li {
    display: inline-block;
  }
}

.mainNav {
  font-family: "Offside";
  max-width: 800px;
}

/* Title.jsx */
.title-logo {
  display: block;
  position: relative;
  font-style: italic;
  font-size: 20px;
  font-weight: 300;
  
  &--name {
    width: auto;
    
    &__front {
      z-index: 10;
    }

    &__back {
      position: absolute;
      top: 7px;
      left: 15px;
      z-index:1;
      opacity: .2;
    }
  }
}